
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.intro{
    height:500px;
     background-image: url('/Assets/backgrounds/h_img.jpg');
     background-size: contain;
     background-repeat: no-repeat;

}
.delani{
    height:250px;
    background-image: url('/Assets/backgrounds/s_image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.icons{
    height:150px;
}
.portfolio{
    height:289px;
}
.contact{
    height:350px;
    background-image: url('/Assets/backgrounds/c_image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;


}
#email, #name{
    background-color:rgba(0, 0, 0, 0);
    border:0.2px white solid;
    height:1rem;
}
::placeholder{
    color:white;
    font-size: 50%;
}
textarea{
    background-color:rgba(0, 0, 0, 0);
    border:0.3px white solid;
}

form{
    position: relative;
    top:20%;
}
.submitButton{
    background-color: blueviolet;
    color:white;
    border:1px blueviolet solid;
}
.resetButton{
    background-color: red;
    color:white;
    border:1px red solid;
}
.social{
    height:100px;
}
 



/* JAVASCRIPT */

/* click effect */

.textDesign{
    display: none;
}
.textDev{
    display: none;
}
.textProdman{
    display: none;
}

/* hover text overlay */

.overlay{
    position:absolute;
    padding:30px 30px 0px 30px;
    width:inherit;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.5);
    
   
    
}



/* media */